@import "@fontsource/fira-mono";
@import "@fontsource-variable/inter";

html {
  scroll-behavior: smooth;
}

:root {
  --font-body: "Inter Variable", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

  --font-header: "Inter Variable", sans-serif;
  --font-mono: "Fira Mono", monospace;
  --color-bg-0: #94a3b8;
  --color-bg-1: hsl(215, 16%, 60%);
  --color-bg-2: hsl(215, 16%, 70%);
  --color-bg-dark-l1: #1e293b;
  --color-bg-dark: #0f172a;
  --color-bg-dark-d1: #020617;
  --color-theme-1: #eab308;
  --color-theme-2: #1c2c46;
  --color-theme-3: hsl(45, 93%, 43%);
  --color-text-dark: white;
  --color-text-dark-muted: hsl(243, 15%, 80%);
  --color-text: hsl(229, 84%, 5%);
  --column-width: 42rem;
  --column-margin-top: 4rem;
  --background: linear-gradient(
      220deg,
      var(--color-bg-dark-l1),
      5%,
      var(--color-bg-dark),
      90%,
      var(--color-bg-dark-d1)
    )
    fixed;

  font-family: var(--font-body);
  color: var(--color-text);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-bg-1);
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgb(255 255 255 / 75%) 0%,
      rgb(255 255 255 / 0%) 100%
    ),
    linear-gradient(
      180deg,
      var(--color-bg-0) 0%,
      var(--color-bg-1) 15%,
      var(--color-bg-2) 50%
    );
  background-attachment: fixed;

  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-bg-dark);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-bg-1);
  }
}

p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

h1 {
  text-align: center;
}

.text-column {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  justify-content: center;
  max-width: 48rem;
  margin: 0 auto;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (width >= 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
